.about {
  display: flex;
}

.text-container {
  padding-bottom: 50px;
}

.social-media {
  display: flex;
  gap: 20px;
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(49, 48, 48);
  border-bottom: 1px solid rgb(61, 60, 60);
  border-radius: 10px;
}

.about-header {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding: 25px 15px;
  justify-content: center;
  align-items: center;
}

hr {
  width: 230px;
  background-color: rgb(11, 177, 177);
  color: rgb(11, 177, 177);
}

.p-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.p-about {
  width: 90%;
  margin: auto;
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
}

.more-about {
  width: 100%;
  font-weight: 500;
}

.read-more-link {
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #1bac91;
}

.armi-img-container {
  width: 29%;
  height: 20vh;
  margin: auto;
}

.armi-img {
  width: 100%;
  border-top: 1px solid rgb(49, 48, 48);
  border-bottom: 1px solid rgb(61, 60, 60);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
  }

  .text-container {
    margin: auto;
    width: 98%;
    padding-left: 50px;
  }

  .social-media {
    width: 5%;
    height: 43vh;
    margin: 0%;
    padding: 6px;
    gap: 20px;
    flex-direction: column;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid rgb(49, 48, 48);
    border-left: 1px solid rgb(61, 60, 60);
    border-radius: 10px;
  }

  .p-container {
    flex-direction: row;
    width: 85%;
    margin: auto;
    padding: 5px 10px;
  }

  .content-about {
    display: flex;
    gap: 50px;
    padding-left: 60px;
  }

  .about-header {
    font-size: 28px;
    width: 85%;
    padding-left: 90px;
  }

  hr {
    width: 800px;
  }

  .p-about {
    margin: 0%;
    width: 75%;
    padding-top: 5px;
  }

  .armi-img-container {
    width: 25%;
    margin: 0%;
    padding-top: 5px;
  }

  .armi-img {
    width: 85%;
    border-left: 1px solid rgb(49, 48, 48);
    border-right: 1px solid rgb(61, 60, 60);
    border-radius: 15px;
  }
}
